<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li class="active">
            <a href="#"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-bar-chart-o"></i> Categories</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-table"></i> Products</a>
        </li>
        <li>
            <a href="#"><i class="fa fa-fw fa-edit"></i> Orders</a>
        </li>
    </ul>
</div>