<ol class="breadcrumb">
  <li><a href="/">الرئيسية</a></li>
  <li class="active">العروض</li>
</ol>
<div id="owl-offers" class="container">
  <% @offers.each do |offer| %>
      <div class="well">
        <div class="text-center">
          <h1 dir="rtl"><%= offer.title %></h1>
          <p dir="rtl"><%= offer.description %></p>
        </div>
      </div>
  <% end %>
</div>
<script>
  $(window).load(function () {
    $('#owl-offers').owlCarousel({
      navigation : true,
      slideSpeed : 300,
      paginationSpeed : 400,
      singleItem:true
    });
  });

  //add mousewheel effect to carousel
  //  $('#owl').on('mousewheel', '.owl-stage', function (e) {
  //    if (e.deltaY>0) {
  //      $('#owl').trigger('next.owl');
  //    } else {
  //      $('#owl').trigger('prev.owl');
  //    }
  //    e.preventDefault();
  //  });
</script>

